{% extends 'base.html.twig' %}

{% block title %}Artwork index
{% endblock %}


{% block body %}

        <h4 class="fw-bold py-3 mb-0">
                <span class="text-muted fw-light">Artworks /</span>
                Index
        </h4>
        
	{% include 'artwork/_show_table.html.twig' with { artworks: artworks } only %}

        <div class="actions text-center align-items-center">
                <ul class="d-inline-flex list-inline text-dark align-items-center">
                        <li class="list-inline-item align-items-center">
                                <a href="{{ path('app_artwork_new') }}" class="btn btn-primary mt-5 p-2 m-0 align-items-center">
                                        <i class="bx bxs-image-add "></i>Nouvelle oeuvre</a>
                        </li>
                </ul>
        </div>
{% endblock %}
