{% extends 'base.html.twig' %}

{% block title %}Edit Corpus{% endblock %}

{% block body %}
    <h1>Edit Corpus</h1>

    {{ include('corpus/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_corpus_index') }}">back to list</a>

    {{ include('corpus/_delete_form.html.twig') }}
{% endblock %}
