{% extends 'base.html.twig' %}

{% block title %}New Corpus{% endblock %}

{% block body %}
    <h1>Create new Corpus</h1>

    {{ include('corpus/_form.html.twig') }}

    <a href="{{ path('app_corpus_index') }}">back to list</a>
{% endblock %}
