{% extends 'base.html.twig' %}

{% block title %}Edit PhysicalLocation{% endblock %}

{% block body %}
    <h1>Edit PhysicalLocation</h1>

    {{ include('physical_location/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_physical_location_index') }}">back to list</a>

    {{ include('physical_location/_delete_form.html.twig') }}
{% endblock %}
