{% extends 'base.html.twig' %}

{% block title %}New PhysicalLocation{% endblock %}

{% block body %}
    <h1>Create new PhysicalLocation</h1>

    {{ include('physical_location/_form.html.twig') }}

    <a href="{{ path('app_physical_location_index') }}">back to list</a>
{% endblock %}
